.DS_Store
node_modules
/dist
/temp

.env

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Firebase
*.log
src/utils/data.json

# Cypress
cypress/videos
cypress/screenshots